* {
    margin: 0;
    padding: 0;
}

body {
    color: red;
    background-color: black;
}

/* Header */

header {
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
}

#rules-button {
    position: absolute;
    left: 1%;
    top: 1%;
    background-color: inherit;
    color: white;
    font-size: 120%;
}

/* choices div */

#choices {
    height: 350px;
    width: 100%;
    text-align: center;
    font-size: 250px;
}

#player-choice,
#computer-choice {
    width: 50%;
    height: 100%;
    border: 2px solid white;
    box-sizing: border-box;
    padding: 30px;
    float: left;
}

/* Rules */

#rules {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background: black 70%;
}

#rules-content {
    background-color: inherit;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
}

#rules-content h2 {
    text-decoration: underline white;
}

#close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

/* players choices */

#player-options {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

.box {
    width: 20%;
    border: 1px solid white;
    box-sizing: border-box;
}

.box:hover {
    cursor: pointer;
}

#play {
    font-size: 70%;
    background-color: inherit;
    color: white;
}

.selected {
    background-color: red;
    color: black;
}

/* Scores */

#score {
    font-size: 50px;
    float: left;
    border: 1px dashed white;
}

#player-score,
#computer-score {
    text-decoration: white underline;
}

/* Media Queries */

/* All screens up to 950px width */
@media screen and (max-width: 950px) {
    .box {
        width: 100%;
        clear: both;
        margin: 30%;
    }
}

/* All screens up to 880px width */
@media screen and (max-width: 880px) {
    header {
        margin-top: 50px;
        font-size: 100%;
    }
}

/* All screens up to 600px width */
@media screen and (max-width: 600px) {
    #choices {
        font-size: 150px;
        height: 250px;
    }

    #player-options {
        font-size: 25px;
    }

    #score {
        font-size: 25px;
    }
}

/* All screens up to 400px width */
@media screen and (max-width: 400px) {

    #choices {
        font-size: 100px;
        height: 200px;
    }
}